/* @keyframes hide{
    0%{
        background: url("/hero.jpg");
        background-size: cover;
    }
    100%{
        
        background: url("/about.jpg");
        background-size: cover;
    }
} */

@media screen and (min-width: 1000px) {
  * {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
  }
  main {
    font-family: "Heebo", sans-serif;
  }
  .landing {
    min-height: 100vh;
    background-size: cover;
    padding: 0rem 5rem;
    background: url("/hero.jpg");
    background-size: cover;
    /* animation-name: hide;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-play-state: paused; */
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
    padding: 0rem 5rem;
  }
  .nav-list {
    list-style: none;
    display: flex;
  }
  .nav-list li {
    padding-left: 10rem;
    font-size: 1.2rem;
  }
  .nav-list a {
    text-decoration: none;
    color: black;
    font-family: "Heebo", sans-serif;
  }
  #logo {
    font-family: "Lobster", cursive;
    font-weight: lighter;
    font-size: 2rem;
  }
  .big-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    font-size: 5rem;
    font-family: "Lobster", cursive;
    color: rgb(61, 61, 61);
  }
  .intro {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slider {
    background: rgb(97, 105, 109);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
  }
  .intro-text {
    color: rgb(233, 233, 233);
    font-family: "Heebo", sans-serif;
    font-size: 1.5rem;
  }
  .hide {
    background: black;
    overflow: hidden;
  }
  .hide span {
    transform: translateY(100%);
    display: inline-block;
  }
  .page {
    display: none;
  }
}
@media screen and (max-width: 600px), screen and (max-device-width: 600px) {
  @import url("https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:400,600");

  * {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    outline: none;
  }
  main {
    font-family: "Heebo", sans-serif;
  }

  strong {
    font-weight: 600;
  }

  .page {
    width: 100%;
    height: 100vh;
    background: #fdfdfd;
    font-family: "Encode Sans Condensed", sans-serif;
    font-weight: 600;
    letter-spacing: 0.03em;
    color: #212121;
    background-image: url("/telephonebg.jpg");
    background-size: cover;
  }

  header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 70px;
    background: #212121;
    color: #fff;
    justify-content: center;
    align-items: center;
    font-family: "Lobster",sans-serif;
    font-weight: lighter;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  main {
    padding: 70px 20px 0;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  main > div {
    margin: auto;
    max-width: 600px;
  }

  main h2 span {
    color: #bf7497;
  }

  main p {
    line-height: 1.5;
    font-weight: 200;
    margin: 20px 0;
  }

  main small {
    font-weight: 300;
    color: #888;
  }

  #nav-container {
    position: fixed;
    height: 100vh;
    width: 100%;
    pointer-events: none;
  }
  #nav-container .bg {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: calc(100% - 70px);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    background: #000;
  }
  #nav-container:focus-within .bg {
    visibility: visible;
    opacity: 0.6;
  }
  #nav-container * {
    visibility: visible;
  }

  .button {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    -webkit-appearance: none;
    border: 0;
    background: transparent;
    border-radius: 0;
    height: 70px;
    width: 30px;
    cursor: pointer;
    pointer-events: auto;
    margin-left: 25px;
    touch-action: manipulation;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .icon-bar {
    display: block;
    width: 100%;
    height: 3px;
    background: #aaa;
    transition: 0.3s;
  }
  .icon-bar + .icon-bar {
    margin-top: 5px;
  }

  #nav-container:focus-within .button {
    pointer-events: none;
  }
  #nav-container:focus-within .icon-bar:nth-of-type(1) {
    transform: translate3d(0, 8px, 0) rotate(45deg);
  }
  #nav-container:focus-within .icon-bar:nth-of-type(2) {
    opacity: 0;
  }
  #nav-container:focus-within .icon-bar:nth-of-type(3) {
    transform: translate3d(0, -8px, 0) rotate(-45deg);
  }

  #nav-content {
    margin-top: 70px;
    padding: 20px;
    width: 90%;
    max-width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - 70px);
    background: #ececec;
    pointer-events: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform: translateX(-100%);
    transition: transform 0.3s;
    will-change: transform;
    contain: paint;
    z-index: 1;
  }

  #nav-content ul {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  #nav-content li a {
    padding: 10px 5px;
    display: block;
    text-transform: uppercase;
    transition: color 0.1s;
  }

  #nav-content li a:hover {
    color: #bf7497;
  }

  #nav-content li:not(.small) + .small {
    margin-top: auto;
  }

  .small {
    display: flex;
    align-self: center;
  }

  .small a {
    font-size: 12px;
    font-weight: 400;
    color: #888;
  }
  .small a + a {
    margin-left: 15px;
  }

  #nav-container:focus-within #nav-content {
    transform: none;
  }

  html,
  body {
    height: 100%;
  }

  a,
  a:visited,
  a:focus,
  a:active,
  a:link {
    text-decoration: none;
    outline: 0;
  }

  .drawer {
    color: currentColor;
    transition: 0.2s ease-in-out;
  }

  h1,
  h2,
  h3,
  h4 {
    margin: 0;
  }

  ul {
    padding: 0;
    list-style: none;
  }
  main {
    font-family: "Heebo", sans-serif;
  }
   /*.landing {
    min-height: 100vh;
    background-size: cover;
    padding: 0rem 5rem;
    background: url("/hero.jpg");
    width: 100%;
    height: auto; */
    /* animation-name: hide;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-play-state: paused; 
  }*/
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
    padding: 0rem 5rem;
  }
  .nav-list {
    list-style: none;
    display: none;
  }
  .nav-list li {
    padding-left: 10rem;
    font-size: 1.2rem;
  }
  .nav-list a {
    text-decoration: none;
    color: black;
    font-family: "Heebo", sans-serif;
  }
  #logo {
    font-family: "Lobster", cursive;
    font-weight: lighter;
    font-size: 2rem;
  }
  .big-text-s {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    font-size: 5rem;
    font-weight: lighter;
    font-family: "Lobster", cursive;
    color: #ffba7a;
  }
  .text-s{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -30%);
    font-size: 1rem;
    font-weight: lighter;
    font-family: "Heebo", cursive;
    letter-spacing: 0.1em;
    color: #ffb88f;
    text-align: center;
  }
  .intro {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slider {
    background: rgb(97, 105, 109);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
  }
  .intro-text {
    color: rgb(233, 233, 233);
    font-family: "Heebo", sans-serif;
    font-size: 1rem;
    padding: 50px;
    text-align: center;
  }
  .hide {
    background: black;
    overflow: hidden;
  }
  .hide span {
    transform: translateY(100%);
    display: inline-block;
  }
  main{
      display: none;
  }

}
@media screen and (min-width:600px) and (max-width:1000px),screen and (min-device-width:600px) and (max-device-width:1000px){
    @import url("https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:400,600");
  
    * {
      margin: 0;
      box-sizing: border-box;
      padding: 0;
      outline: none;
    }
    main {
      font-family: "Heebo", sans-serif;
    }
  
    strong {
      font-weight: 600;
    }
  
    .page {
      width: 100%;
      height: 100vh;
      background: #fdfdfd;
      font-family: "Encode Sans Condensed", sans-serif;
      font-weight: 600;
      letter-spacing: 0.03em;
      color: #212121;
      background-image: url("/hero.jpg");
      background-size: cover;
    }
  
    header {
      display: flex;
      position: fixed;
      width: 100%;
      height: 70px;
      background: rgb(61, 61, 61);
      color: #fff;
      justify-content: center;
      align-items: center;
      font-family: "Lobster",sans-serif;
      font-weight: lighter;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
  
    main {
      padding: 70px 20px 0;
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  
    main > div {
      margin: auto;
      max-width: 600px;
    }
  
    main h2 span {
      color: #bf7497;
    }
  
    main p {
      line-height: 1.5;
      font-weight: 200;
      margin: 20px 0;
    }
  
    main small {
      font-weight: 300;
      color: #888;
    }
  
    #nav-container {
      position: fixed;
      height: 100vh;
      width: 100%;
      pointer-events: none;
    }
    #nav-container .bg {
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      height: calc(100% - 70px);
      visibility: hidden;
      opacity: 0;
      transition: 0.3s;
      background: #000;
    }
    #nav-container:focus-within .bg {
      visibility: visible;
      opacity: 0.6;
    }
    #nav-container * {
      visibility: visible;
    }
  
    .button {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      z-index: 1;
      -webkit-appearance: none;
      border: 0;
      background: transparent;
      border-radius: 0;
      height: 70px;
      width: 30px;
      cursor: pointer;
      pointer-events: auto;
      margin-left: 25px;
      touch-action: manipulation;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    .icon-bar {
      display: block;
      width: 100%;
      height: 3px;
      background: #aaa;
      transition: 0.3s;
    }
    .icon-bar + .icon-bar {
      margin-top: 5px;
    }
  
    #nav-container:focus-within .button {
      pointer-events: none;
    }
    #nav-container:focus-within .icon-bar:nth-of-type(1) {
      transform: translate3d(0, 8px, 0) rotate(45deg);
    }
    #nav-container:focus-within .icon-bar:nth-of-type(2) {
      opacity: 0;
    }
    #nav-container:focus-within .icon-bar:nth-of-type(3) {
      transform: translate3d(0, -8px, 0) rotate(-45deg);
    }
  
    #nav-content {
      margin-top: 70px;
      padding: 20px;
      width: 90%;
      max-width: 300px;
      position: absolute;
      top: 0;
      left: 0;
      height: calc(100% - 70px);
      background: #ececec;
      pointer-events: auto;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      transform: translateX(-100%);
      transition: transform 0.3s;
      will-change: transform;
      contain: paint;
      z-index: 1;
    }
  
    #nav-content ul {
      height: 100%;
      display: flex;
      flex-direction: column;
    }
  
    #nav-content li a {
      padding: 10px 5px;
      display: block;
      text-transform: uppercase;
      transition: color 0.1s;
    }
  
    #nav-content li a:hover {
      color: #bf7497;
    }
  
    #nav-content li:not(.small) + .small {
      margin-top: auto;
    }
  
    .small {
      display: flex;
      align-self: center;
    }
  
    .small a {
      font-size: 12px;
      font-weight: 400;
      color: #888;
    }
    .small a + a {
      margin-left: 15px;
    }
  
    #nav-container:focus-within #nav-content {
      transform: none;
    }
  
    html,
    body {
      height: 100%;
    }
  
    a,
    a:visited,
    a:focus,
    a:active,
    a:link {
      text-decoration: none;
      outline: 0;
    }
  
    .drawer {
      color: currentColor;
      transition: 0.2s ease-in-out;
    }
  
    h1,
    h2,
    h3,
    h4 {
      margin: 0;
    }
  
    ul {
      padding: 0;
      list-style: none;
    }
    main {
      font-family: "Heebo", sans-serif;
    }
     /*.landing {
      min-height: 100vh;
      background-size: cover;
      padding: 0rem 5rem;
      background: url("/hero.jpg");
      width: 100%;
      height: auto; */
      /* animation-name: hide;
      animation-duration: 4s;
      animation-fill-mode: forwards;
      animation-play-state: paused; 
    }*/
    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 10vh;
      padding: 0rem 5rem;
    }
    .nav-list {
      list-style: none;
      display: none;
    }
    .nav-list li {
      padding-left: 10rem;
      font-size: 1.2rem;
    }
    .nav-list a {
      text-decoration: none;
      color: black;
      font-family: "Heebo", sans-serif;
    }
    #logo {
      font-family: "Lobster", cursive;
      font-weight: lighter;
      font-size: 2rem;
    }
    .big-text-s {
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -30%);
      font-size: 5rem;
      font-weight: lighter;
      font-family: "Lobster", cursive;
      color: rgb(61, 61, 61);
    }
    .text-s{
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -30%);
      font-size: 1rem;
      font-weight: lighter;
      font-family: "Heebo", cursive;
      letter-spacing: 0.1em;
      color: rgb(61, 61, 61);
      text-align: center;
      display: none;
    }
    .intro {
      background-color: black;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .slider {
      background: rgb(97, 105, 109);
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translateY(100%);
    }
    .intro-text {
      color: rgb(233, 233, 233);
      font-family: "Heebo", sans-serif;
      font-size: 1rem;
      padding: 50px;
      text-align: center;
    }
    .hide {
      background: black;
      overflow: hidden;
    }
    .hide span {
      transform: translateY(100%);
      display: inline-block;
    }
    main{
        display: none;
    }
  
  }